<?xml version="1.0"?>
<settings>
  <properties>
    <property name="ScrollImages" type="String" caption="# of icons to scroll" default="2">
      <help>The number of icons to scroll when left or right indicators are clicked</help>
	</property>    
    <property name="IconSkin" type="Choice" caption="Icon Skin" default="clear">
      <help>The skin used for the icon bar</help>
		<choices>
			<choice value="clear" caption="Clear" />
			<choice value="ie7" caption="Ie7" />
			<choice value="tango" caption="Tango" />
		</choices>
	</property>    
  </properties>
  <tabproperties>
    <property name="IconUrl" type="String" caption="Icon Url" default="http://pathto/icon.jpg">
      <help>The full url to the icon used for the tab image</help>
    </property>
    <property name="TargetUrl" type="String" caption="Link Url" default="http://www.newsgator.com">
      <help>The full url for the icon to link to</help>
    </property>
  </tabproperties>
</settings>