<?xml version="1.0"?>
<settings>
  <description>
    <![CDATA[
  <strong>jQuery UI Accordion</strong> - based on the jQuery UI Accordion<br />
  ]]>
  </description>
  <help>
    <![CDATA[
	<h2>Compatibility notes</h2>
	<ul>
  <li>Active Hover Delay - not currently supported</li>
  <li>Pager - not currently supported</li>
  </ul>
  ]]>
  </help>  
  <properties>
    <property name="Theme" type="Directory" caption="JQuery UI Theme" default="flick" directory="Skins/jQueryUI/_themes">
      <help>The jQuery UI theme used to style the tabs</help>
    </property>
    <property name="HeightStyle" type="Choice" caption="Height Style" default="auto">
      <help>Determines how panels are sized</help>
	  <choices>
		<choice value="auto" caption="Auto" />
		<choice value="content" caption="Content" />
		<choice value="fill" caption="Fill" />
		</choices>
    </property>
    <property name="Collapsible" type="Boolean" caption="Collapsible" default="false">
      <help>Determines whether all the sections can be closed at once</help>
    </property>
    <property name="StartCollapsed" type="Boolean" caption="Start Collapsed" default="false">
      <help>If collapsible is set, this will start with all sections closed</help>
    </property>
  </properties>
  <tabproperties>
  </tabproperties>
</settings>