    .Demo_Pager1_TabStrip {
      float:left;
      width:100%;
      background:transparent;
      font-size:93%;
      line-height:normal;
	  font-weight: bold;
	  font-family: Arial, Tahoma, Helvetica, sans-serif;
      }

	.Demo_Pager1_TabStrip ul {
        margin:0;
        padding:0;
        list-style:none;
      }
	  
    .Demo_Pager1_TabStrip li {
      display:inline;
      margin:0;
      padding:0;
      }

	  .Demo_Pager1_TabStrip span {
      float:left;
      margin:0;
      padding:0 1px 0 5px;
      text-decoration:none;
      }
	  
    .Demo_Pager1_TabStrip span span {
      float:left;
      display:block;
      padding:5px 5px 4px 6px;
      color:#000;
	  text-align:center;
      }

	  /* Commented Backslash Hack hides rule from IE5-Mac \*/
    .Demo_Pager1_TabStrip span span {float:none;}
    /* End IE5-Mac hack */

	.Demo_Pager1_TabSelected {
		color: #617588;
		background-color: white;
		border-top: 1px solid #8397AA;
		border-right: 1px solid #8397AA;
		border-left: 1px solid #8397AA;
		border-bottom: 2px solid #FFFFFF;
	  top: 1px;
	  position: relative;
	}
    
	.Demo_Pager1_TabStrip .Demo_Pager1_TabUnselected {
		color: #617588;
		background-color: #C4CED4;
		border-right: solid 1px #8397AA;
		border-top: solid 1px #8397AA;
		border-left: solid 1px #8397AA;
		border-bottom: 0px;
	  top: 1px;
	  position: relative;
      }

	.Demo_Pager1_TabStrip .Demo_Pager1_TabMouseOver {
		color: #617588;
		background-color: #D6EFF6;
		cursor: pointer;
		}
	  
	.Demo_Pager1_TabPage {
		_width: 100%;
		border-left: 1px solid #8397AA;
		border-right: 1px solid #8397AA;
		border-bottom: 1px solid #8397AA;
		border-top: 1px solid #8397AA;
		padding: 3px;
		text-align: left;
		background: white;
	}
	
	.Demo_Pager1_Paging {
		text-align:center;
		padding: 2px;
		margin: 3px;
}
	.Demo_Pager1_Paging a {
		cursor: pointer;
		padding: 2px 5px 2px 5px;
		margin: 1px;
		border: 1px solid gainsboro;
		background-color: gainsboro;
		color: #000;
		text-decoration: none;
}
	.Demo_Pager1_Paging a:hover, .Demo_Pager1_Paging a:active {
		border: 1px solid #ccc;
		background-color: aliceblue;
		color: #555;
}	