    .ExplodingBoy2_TabMenu4_TabStrip {
      float:left;
      width:100%;
      background:#6B78A9;
      font-size:93%;
      line-height:normal;
      }
    .ExplodingBoy2_TabMenu4_TabStrip ul {
		margin:0;
		padding:10px 10px 0 5px;
		list-style:none;
      }
    .ExplodingBoy2_TabMenu4_TabStrip li {
      display:inline;
      margin:0;
      padding:0;
      cursor:pointer;
      }
    .ExplodingBoy2_TabMenu4_TabStrip span {
      float:left;
      background:url("tableft.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 4px;
      text-decoration:none;
      }
    .ExplodingBoy2_TabMenu4_TabStrip span span {
      float:left;
      display:block;
      background:url("tabright.gif") no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#6B78A9;
      }
	  /* Commented Backslash Hack hides rule from IE5-Mac \*/
    .ExplodingBoy2_TabMenu4_TabStrip span span {float:none;}
    /* End IE5-Mac hack */
	
    .ExplodingBoy2_TabMenu4_TabStrip .ExplodingBoy2_TabMenu4_TabMouseOver {
      background-position:0% -42px;
      }
    .ExplodingBoy2_TabMenu4_TabStrip .ExplodingBoy2_TabMenu4_TabMouseOver span {
      background-position:100% -42px;
      color:#6B78A9;
      }
    .ExplodingBoy2_TabMenu4_TabStrip .ExplodingBoy2_TabMenu4_TabSelected {
      background-position:0% -42px;
      }
    .ExplodingBoy2_TabMenu4_TabStrip .ExplodingBoy2_TabMenu4_TabSelected span {
      background-position:100% -42px;
      color:#6B78A9;
      }
    .ExplodingBoy2_TabMenu4_TabPage {
   _width: 100%;
color:#000;
	  background-color: #FFF;
	  margin: 0;
	  padding: 0;
	  border: 1px solid #6B78A9;
	  text-align: left;
      }
	.ExplodingBoy2_TabMenu4_TabPage p {
		margin: 0px;
		padding: 3px;
		}
	.ExplodingBoy2_TabMenu4_Paging {
		font-size: .8em;
		text-align: center;
	}
	
	.ExplodingBoy2_TabMenu4_Paging span {
		cursor: pointer;
		padding: 3px;
	}
	
	.ExplodingBoy2_TabMenu4_Paging span:hover {
		color: #777;
	}	