/***************************
**  JQDOCK : EXAMPLE CSS  **
***************************/
/*place the various demo menus around the screen (note: 1, 3, 4 and 7 are horizontal; 2, 5 and 6 are vertical)...*/
  #menu1 {position:relative; top:100px; padding-left:131px;}
  /*...menu2 needs enough width to show the shrunken images + border, because it's positioned fully to the right...*/
  #menu2 {position:absolute; top:0px; right:0px; width:50px;}
/*  #menu3 {position:; top:152px; padding-left:131px;} */
  #menu4 {position:absolute; top:510px; left:131px;}
  /*if you want to space the images out you can pad them, BUT...
    (a) be aware that for any coefficient other than 1 (linear) this can (will) throw out calculation of the leading edge of the menu
    (b) use a DOCTYPE, otherwise IE will get the spacing wrong
	 (c) Opera v9.5 sometimes has problems with the main axis dimension that I haven't managed to solve yet
    for example...*/
  #menu4 img {padding:0px 4px;}
  #menu5 {position:absolute; top:0px; left:0px;}
  /*...menu6 has zero width, so it's actually the left-hand side of the dock that is 200px from the right-hand edge of the viewport...*/
  #menu6 {position:absolute; top:30px; right:200px; width:0px;}
  #menu7 {display:none; position:absolute; top:150px; left:580px;}

/*dock styling...*/
/*docks (div.jqDock) get absolute position, zero padding and margin, and visible overflow; width and height are calculated*/
  /*...set a default dock background colour...*/
  div.jqDock {background-color:transparent;}
  /*...override background colour and/or border for specific demo docks...*/
  #menu2 div.jqDock {border:2px solid #999999; border-right:0px none;}
  #menu3 div.jqDock {border:2px solid #ff9900;}
  #menu4 div.jqDock {background-color:#cccccc; border:1px solid #000000;}
  #menu5 div.jqDock {background-color:#000000;}
  #menu6 div.jqDock {background-color:#e0e0ff; border:3px solid #0000ff;}
  #menu7 div.jqDock {border:1px solid #0000cc;}

/*label styling...*/
/*labels (div.jqDockLabel) only get absolute position and zero margin (with top and left being calculated); the rest is up to you*/
  /*...let's set some defaults...*/
  div.jqDockLabel {border:0px none; padding:0px 4px; font-weight:bold; font-size:14px; font-style:italic; white-space:nowrap; color:#000000; background-color:transparent;}
  div.jqDockLabelLink {cursor:pointer;}
  div.jqDockLabelImage {cursor:default;}
  /*...and some overrides...*/
  /*...give the right-hand vertical a smaller, non-bold, deep red label, on a white background...*/
  #menu2 div.jqDockLabel {color:#cc0000; background-color:#ffffff; padding:1px; font-size:12px; font-weight:normal;}
  /*...and the left-hand vertical (with the black background) a white, smaller, label...*/
  #menu5 div.jqDockLabel {color:#ffffff; padding:0px;}
