/* defaults for all examples */  
.kwicks {  
    list-style: none;  
    position: relative;  
    margin: 0;  
    padding: 0;  
}  

.kwicks li{  
    float: left;  
	list-style-type: none;

	/*do not change these */
	display: block;
	overflow: hidden;
	padding: 0;  /* if you need padding, do so with an inner div (or implement your own box-model hack) */	
	margin-right: 5px;
}
